#If you need to pass a github token, add it prior to entering it into ENV
PROJECT_REPOSITORY_URL=
PROJECT_BRANCH=



# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL=localhost

# Next Auth
NEXTAUTH_SECRET=localhost
NEXTAUTH_URL=localhost

# Next Auth Github Provider
GITHUB_ID=github_user
GITHUB_SECRET=github_password